{% extends '_base.html.twig' %}
{% block body %}
<div itemscope itemtype="https://schema.org/Blog">
    <meta itemprop="name" content="Blog">
    <meta itemprop="inLanguage" content="{{ lang }}">
    <meta itemprop="image" content="https://www.bjoern-buettner.me/logo.png">
    <h1>{{ content.title }}</h1>
    <p>{{ content.description }}</p>
    <p>{{ content.costs }}</p>
    <br/>
    <ul>
    {% for post in posts %}
        <li>
            <a href="/blog/{{ post.slug }}/{{ lang }}"><h2>{{ lang=='en' ? post.title_en : post.title_de }}</h2></a>
            <em>{{ post.created }} {{ lang=='en' ? 'by' : 'von' }} {{ post.author.name }}</em>
            <p>{{ lang=='en' ? post.extract_en : post.extract_de }}</p>
            <aside class="tags">
                <h3>{{ lang=='en' ? 'Tagged as' : 'Getaggt als' }}:</h3>
                <ul>
                    {% for tag in tags %}
                        <li>{{ tag[lang] }}</li>
                    {% endfor %}
                </ul>
            </aside>
        </li>
    {% endfor %}
    </ul>
    <br/>
    <p>{{ content.if_missing }}</p>
</div>
{% endblock %}