{% include 'header.twig' %}
<h1>{{ title }}</h1>
<em>{{ created }} {% if lang=='en' %}by{% else %}von{% endif %} <a href="/team/{{ lang }}#{{ author.slug }}">{{ author.name }}</a></em>
{{ content|markdown }}
<aside class="tags">
    <h2>{% if lang=='en' %}Tagged as{% else %}Getaggt als{% endif %}:</h2>
    <ul>
    {% for tag in tags %}
        <li>{{ tag[lang] }}</li>
    {% endfor %}
    </ul>
</aside>
{% include 'footer.twig' %}