{% extends '_base.html.twig' %}
{% block body %}
<div itemscope itemtype="https://schema.org/BlogPost">
    <meta itemprop="datePublished" content="{{ created }}">
    <meta itemprop="author" content="{{ author.name }}">
    <meta itemprop="headline" content="{{ title }}">
    <meta itemprop="inLanguage" content="{{ lang }}">
    <h1>{{ title }}</h1>
    <em>{{ created }} {% if lang=='en' %}by{% else %}von{% endif %} <a rel="author" itemscope itemtype="https://scheam.org/Person" itemprop="author" href="/team/{{ lang }}#{{ author.slug }}">{{ author.name }}</a></em>
    <article itemprop="articleBody">{{ content|markdown }}</article>
    <aside class="tags">
        <h2>{% if lang=='en' %}Tagged as{% else %}Getaggt als{% endif %}:</h2>
        <ul>
        {% for tag in keywords %}
            <li>{{ tag[lang] }}</li>
        {% endfor %}
        </ul>
    </aside>
</div>
{% endblock %}