{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>{{ content.description }}</p>
<ul>
{% for post in posts %}
    <li>
        <a href="/blog/{{ post.slug }}/{{ lang }}"><strong>{% if lang=='en' %}{{ post.title_en }}{% else %}{{ post.title_de }}{% endif %}</strong></a>
        <em>{{ post.created }}</em>
        <p>{% if lang=='en' %}{{ post.extract_en }}{% else %}{{ post.extract_de }}{% endif %}</p>
    </li>
{% endfor %}
</ul>
{% include 'footer.twig' %}