{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>{{ content.linkedin }}</p>
<p>{{ content.open_source }}</p>
<form method="post" action="/sent/{{ lang }}">
    <label for="request">{{ content.topic }}</label>
    <select name="request" required id="request">
        <option value="">{{ content.please_choose }}</option>
        {% for offergroup in offers %}
            {% if offergroup.chooseable %}
                <optgroup label="{{ offergroup[lang] }}">
                    {% for task in offergroup.tasks %}
                        <option title="{{ task.description[lang] }}">{{ task.title[lang] }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
    <label for="name">{{ content.name }}</label>
    <input type="text" placeholder="Max Mustermann" required name="name" id="name"/>
    <label for="mail">{{ content.email }}</label>
    <input type="email" placeholder="max.mustermann@example.de" required name="mail" id="mail"/>
    <label for="content">{{ content.request }}</label>
    <textarea required name="content" id="content"></textarea>
    <span></span>
    <button type="submit">{{ content.submit }}</button>
</form>
{% include 'footer.twig' %}