<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{ title }} | Björn Büttner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/styles.css"/>
        <meta name="author" content="{{ author.name }}"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="og:title" content="{{ title }}"/>
        <meta name="og:description" content="{{ description }}"/>
        <meta name="og:image" content="https://bjoern-buettner.me/logo.png"/>
        <meta name="og:url" content="https://bjoern-buettner.me{{ (active ~ '/' ~ lang)|fixurl }}"/>
        <meta name="og:site_name" content="Björn Büttner"/>
        <meta name="og:locale" content="{{ lang }}"/>
        <meta name="og:type" content="{{ og_type }}"/>
        <link rel="canonical" href="https://bjoern-buettner.me{{ (active ~ '/' ~ lang)|fixurl }}"/>
        <link rel="alternate" hreflang="x-default" href="https://bjoern-buettner.me{{ (active ~ '/en')|fixurl }}"/>
        <link rel="alternate" hreflang="en" href="https://bjoern-buettner.me{{ (active ~ '/en')|fixurl }}"/>
        <link rel="alternate" hreflang="de" href="https://bjoern-buettner.me{{ (active ~ '/de')|fixurl }}"/>
        <link rel="alternate" type="application/rss+xml" href="https://bjoern-buettner.me/rss-{{ lang }}.xml"/>
    </head>
    <body>
        <div id="header" class="bar">
            <a href="/{{ lang }}">
                <img src="/logo.png" alt="Logo"/>
            </a>
            <strong>Björn Büttner</strong>
            {% if lang != 'de' %}
                <a hreflang="de" href="{% if active != '/' %}{{ active }}{% endif %}/de" title="Zu Deutsch wechseln">
                    <img class="small" src="/de.jpg" alt="Deutsch"/><img class="small" src="/en.jpg" alt="English"/>
                </a>
            {% else %}
                <a hreflang="de" href="{% if active != '/' %}{{ active }}{% endif %}/en" title="Switch to english">
                    <img class="small" src="/en.jpg" alt="English"/><img class="small" src="/de.jpg" alt="Deutsch"/>
                </a>
            {% endif %}
        </div>
        <nav class="bar">
            <ul>
                <li><a {% if active=='/' %}class="active" {% endif %}href="/{{ lang }}">{{ menu.home }}</a></li>
                <li><a {% if active=='/prices' %}class="active" {% endif %} href="/prices/{{ lang }}">{{ menu.prices }}</a></li>
                <li><a {% if active=='/solutions' %}class="active" {% endif %} href="/solutions/{{ lang }}">{{ menu.solutions }}</a></li>
                <li><a {% if active=='/team' %}class="active" {% endif %} href="/team/{{ lang }}">Team</a></li>
                <li><a {% if active=='/blog' %}class="active" {% endif %} href="/blog/{{ lang }}">Blog</a></li>
                <li><a href="https://outlook.office365.com/owa/calendar/Bjoern-Buettner-Booking@bjoern-buettner.me/bookings/" target="_blank">{{ menu.booking }}</a></li>
                <li><a href="https://www.google.com/maps/place/Bj%C3%B6rn+B%C3%BCttner/@51.4168451,6.8539511,15z/data=!4m8!3m7!1s0x47b8c181aa157c71:0xd4a0e7a32e47292e!8m2!3d51.4168451!4d6.8539511!9m1!1b1!16s%2Fg%2F11v17jpq5g" target="_blank">{{ menu.ratings }}</a></li>
                <li><a href="https://github.com/bjoern-buettner" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/company/bjoern-buettner/" target="_blank">LinkedIn</a></li>
                <li><a {% if active=='/imprint' %}class="active" {% endif %} href="/imprint/{{ lang }}">{{ menu.imprint }}</a></li>
            </ul>
        </nav>
        <div id="body">