<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <title>{{ title }} | Björn Büttner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/styles.css"/>
        <meta name="author" content="Björn Büttner"/>
        <meta name="description" content="{{ description }}"/>
        {% if google_site_verification %}<meta name="google-site-verification" content="{{ google_site_verification }}" />{% endif %}
    </head>
    <body>
        <div id="header" class="bar" style="display: flex;">
            <a href="/{{ lang }}">
                <img src="/logo.png" alt="Logo"/>
            </a>
            <strong>Björn Büttner</strong>
            {% if lang != 'de' %}
                <a href="/de" title="Zu Deutsch wechseln">
                    <img class="small" src="/de.jpg" alt="Deutsch"/><img class="small" src="/en.jpg" alt="English"/>
                </a>
            {% endif %}
            {% if lang != 'en' %}
                <a href="/en" title="Switch to english">
                    <img class="small" src="/en.jpg" alt="English"/><img class="small" src="/de.jpg" alt="Deutsch"/>
                </a>
            {% endif %}
        </div>
        <nav class="bar">
            <ul>
                <li><a {% if active=='/' %}class="active" {% endif %}href="/{{ lang }}">{{ menu.home }}</a></li>
                <li><a {% if active=='/prices' %}class="active" {% endif %} href="/prices/{{ lang }}">{{ menu.prices }}</a></li>
                <li><a {% if active=='/imprint' %}class="active" {% endif %} href="/imprint/{{ lang }}">{{ menu.imprint }}</a></li>
                <li><a href="https://www.linkedin.com/in/bjoern-idrinth-buettner/" target="_blank">Linkedin</a></li>
                <li><a href="https://github.com/idrinth" target="_blank">Github</a></li>
                <li><a href="https://outlook.office365.com/owa/calendar/Bjoern-Buettner-Booking@bjoern-buettner.me/bookings/" target="_blank">{{ menu.booking }}</a></li>
            </ul>
        </nav>
        <div id="body">