<!DOCTYPE html>
<html lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{ title }} | Björn Büttner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/styles.css"/>
        <meta name="author" content="Björn Büttner"/>
        <meta name="description" content="{{ description }}"/>
        <meta name="og:title" content="{{ title }}"/>
        <meta name="og:description" content="{{ description }}"/>
        <meta name="og:image" content="https://bjoern-buettner.me/logo.png"/>
        <meta name="og:url" content="https://bjoern-buettner.me{% if active != '/' %}{{ active }}{% endif %}/{{ lang }}"/>
        <meta name="og:site_name" content="Björn Büttner"/>
        <meta name="og:locale" content="{{ lang }}"/>
        <meta name="og:type" content="{% if active=='/blog' %}blog{% else %}website{% endif %}"/>
        {% if google_site_verification %}<meta name="google-site-verification" content="{{ google_site_verification }}" />{% endif %}
        <link rel="canonical" href="https://bjoern-buettner.me{% if active != '/' %}{{ active }}{% endif %}/{{ lang }}"/>
        <link rel="alternate" hreflang="x-default" href="https://bjoern-buettner.me{% if active != '/' %}{{ active }}{% endif %}/en"/>
        <link rel="alternate" hreflang="en" href="https://bjoern-buettner.me{% if active != '/' %}{{ active }}{% endif %}/en"/>
        <link rel="alternate" hreflang="de" href="https://bjoern-buettner.me{% if active != '/' %}{{ active }}{% endif %}/de"/>
        <link rel="alternate" type="application/rss+xml" href="https://bjoern-buettner.me/rss"/>
    </head>
    <body>
        <div id="header" class="bar" style="display: flex;">
            <a href="/{{ lang }}">
                <img src="/logo.png" alt="Logo"/>
            </a>
            <strong>Björn Büttner</strong>
            {% if lang != 'de' %}
                <a hreflanf="de" href="/de" title="Zu Deutsch wechseln">
                    <img class="small" src="/de.jpg" alt="Deutsch"/><img class="small" src="/en.jpg" alt="English"/>
                </a>
            {% else %}
                <a hreflanf="de" href="/en" title="Switch to english">
                    <img class="small" src="/en.jpg" alt="English"/><img class="small" src="/de.jpg" alt="Deutsch"/>
                </a>
            {% endif %}
        </div>
        <nav class="bar">
            <ul>
                <li><a {% if active=='/' %}class="active" {% endif %}href="/{{ lang }}">{{ menu.home }}</a></li>
                <li><a {% if active=='/prices' %}class="active" {% endif %} href="/prices/{{ lang }}">{{ menu.prices }}</a></li>
                <li><a {% if active=='/solutions' %}class="active" {% endif %} href="/solutions/{{ lang }}">{{ menu.solutions }}</a></li>
                <li><a {% if active=='/blog' %}class="active" {% endif %} href="/blog/{{ lang }}">Blog</a></li>
                <li><a href="https://outlook.office365.com/owa/calendar/Bjoern-Buettner-Booking@bjoern-buettner.me/bookings/" target="_blank">{{ menu.booking }}</a></li>
                <li><a href="https://g.page/r/CS4pRy6j56DUEB0/review" target="_blank">{{ menu.ratings }}</a></li>
                <li><a href="https://github.com/bjoern-buettner" target="_blank">GitHub</a></li>
                <li><a {% if active=='/imprint' %}class="active" {% endif %} href="/imprint/{{ lang }}">{{ menu.imprint }}</a></li>
            </ul>
        </nav>
        <div id="body">