{% extends '_base.html.twig' %}
{% block body %}
<h1>{{ content.title }}</h1>
<p>{{ content.reasoning }}</p>
<p>{{ content.prices }}</p>
<h2>{{ content.title2 }}</h2>
<ul>
    {% for offergroup in offers %}
        <li itemscope itemtype="https://schema.org/ItemList">
            <h3 itemprop="name" onclick="this.parentNode.classList.toggle('active');">{{ offergroup[lang] }}</h3>
            <ul>
                {% for task in offergroup.tasks %}
                    <li itemprop="itemListElement"  itemscope itemtype="https://schema.org/Service">
                        <h4 itemprop="name">{{ task.title[lang] }}</h4>
                        <p itemprop="description">{{ task.description[lang] }}</p>
                        {% if lang=='en' %}
                            <em itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                <span itemprop="price">{{ task.price | number_format(2, '.', ',') }}</span><span itemprop="priceCurrency">€</span>{% if task.fee_type=='hourly' %}/hour{% elseif task.fee_type=='monthly' %}/month{% elseif task.fee_type=='item' %} each{% endif %}
                            </em>
                        {% else %}
                            <em itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                <span itemprop="price">{{ task.price | number_format(2, ',', '.') }}</span><span itemprop="priceCurrency">€</span>{% if task.fee_type=='hourly' %}/Stunde{% elseif task.fee_type=='monthly' %}/Monat{% elseif task.fee_type=='item' %} jeweils{% endif %}
                            </em>
                        {% endif %}
                     </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
