{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>{{ content.reasoning }}</p>
<p>{{ content.prices }}</p>
{% if lang == 'en' %}
    <p>If you are a customer trying to get the customer recruiting bonus, feel free to include the advert-script on your site! <a href="/hosted-by-bjoern-buettner.js">https://bjoern-buettner.me/hosted-by-bjoern-buettner.js</a></p>
{% else %}
    <p>Falls Sie ein Kunde sind, der den Werbebonus nutzen will, binden Sie einfach das Werbe-Script auf Ihrer Seite ein! <a href="/hosted-by-bjoern-buettner.js">https://bjoern-buettner.me/hosted-by-bjoern-buettner.js</a></p>
{% endif %}
<ul>
    {% for offergroup in offers %}
        <li>
            <h3 onclick="this.parentNode.classList.toggle('active');">{{ offergroup[lang] }}</h3>
            <ul>
                {% for task in offergroup.tasks %}
                    <li>
                        <h4>{{ task.title[lang] }}</h4>
                        <p>{{ task.description[lang] }}</p>
                        {% if lang=='en' %}
                            <em>{{ task.price | number_format(2, '.', ',') }}€{% if task.fee_type=='hourly' %}/hour{% elseif task.fee_type=='monthly' %}/month{% elseif task.fee_type=='item' %} each{% endif %}</em>
                        {% else %}
                            <em>{{ task.price | number_format(2, ',', '.') }}€{% if task.fee_type=='hourly' %}/Stunde{% elseif task.fee_type=='monthly' %}/Monat{% elseif task.fee_type=='item' %} jeweils{% endif %}</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% include 'footer.twig' %}