{% include 'header.twig' %}
<h1>{{ content.title }}</h1>
<p>{{ content.thanks }}</p>
<table>
    <tr>
        <th>{{ content.topic }}</th>
        <td>{{ request.topic }}</td>
    </tr>
    <tr>
        <th>{{ content.name }}</th>
        <td>{{ request.name }}</td>
    </tr>
    <tr>
        <th>{{ content.email }}</th>
        <td>{{ request.email }}</td>
    </tr>
    <tr>
        <th>{{ content.request }}</th>
        <td>{{ request.text }}</td>
    </tr>
</table>
{% include 'footer.twig' %}