{% extends '_base.html.twig' %}
{% block body %}
    <h1>{{ content.title }}</h1>
    <p>{{ content.description }}</p>
    <div id="team-wrapper">
        {% for member in team %}
            <section class="team-member" itemscope itemtype="https://schema.org/Person">
                <div class="team-member-data row">
                    <h2 id="member-{{ member.slug }}" itemprop="name">{{ member.name }}</h2>
                    <div class="col-4">
                        <img class="me" itemprop="image" src="/team/{{ member.slug }}.jpg" alt="{{ member.name }}"/>
                    </div>
                    <div class="col-8">
                        <em itemprop="jobTitle">{% if lang=='en' %}{{ member.title_en }}{% else %}{{ member.title_de }}{% endif %}</em>
                        {% if lang=='en' %}{{ member.description_en|markdown }}{% else %}{{ member.description_de|markdown }}{% endif %}
                    </div>
                </div>
                {% if member.linkedin or member.github %}
                    <div class="team-member-links">
                        <h3>Links</h3>
                        <ul itemscope itemtype="https://schema.org/ContactPoint">
                            {% if member.linkedin %}
                                <li><a itemprop="url" target="_blank"
                                       href="https://www.linkedin.com/in/{{ member.linkedin }}/">LinkedIn</a>
                                </li>{% endif %}
                            {% if member.github %}
                                <li><a itemprop="url" target="_blank"
                                       href="https://github.com/{{ member.github }}">GitHub</a></li>{% endif %}
                        </ul>
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endblock %}